[submodule "fri/fri-1.11"]
	path = fri/fri-1.11
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.13"]
	path = fri/fri-1.13
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.14"]
	path = fri/fri-1.14
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.15"]
	path = fri/fri-1.15
	url = https://github.com/lbr-stack/fri.git