[submodule "fri/fri-1.11"]
	path = fri/fri-1.11
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.13"]
	path = fri/fri-1.13
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.14"]
	path = fri/fri-1.14
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.15"]
	path = fri/fri-1.15
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-1.16"]
	path = fri/fri-1.16
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-2.5"]
	path = fri/fri-2.5
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-2.6"]
	path = fri/fri-2.6
	url = https://github.com/lbr-stack/fri.git
[submodule "fri/fri-2.7"]
	path = fri/fri-2.7
	url = https://github.com/lbr-stack/fri.git
[submodule "lbr_fri_ros2_stack/humble"]
	path = lbr_fri_ros2_stack/humble
	url = https://github.com/lbr-stack/lbr_fri_ros2_stack.git
[submodule "lbr_fri_ros2_stack/jazzy"]
	path = lbr_fri_ros2_stack/jazzy
	url = https://github.com/lbr-stack/lbr_fri_ros2_stack.git
